@import "reset.css";

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.6px;
    line-height: 1.5;
    /*background: #333333;*/
}

#banner{
    background: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    color: #ffffff;
    text-align: center;
    height: 450px;
    padding-top: 100px;
    padding-bottom: 155px;
    background-size: cover;
    /*z-index: -1;*/
    /*opacity: 0.4;*/
}

#banner h1 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 2em;
    color: white;
    /*z-index: unset;*/
    /*opacity: unset;*/
}

#banner p {
    margin: 1em 300px 2.5em;
    font-size: 18px;
}

#banner a {
    padding: 1em 2em;
    border: 1px solid #fff;
    text-transform: capitalize;
    color: inherit;
    background: #333;
    text-decoration: none;
}

#section-a{
    background: #eaeaea;
    color: #333;
}
#section-a h2{
    font-size: 26.4px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 26.4px 0;
}
#section-a p{
    display: inline-block;
    width: 28%;
}
#column1 {
    margin: 0 2% 2.5em 19%;
}
#column2 {
    margin: 0 19% 2.5em 2%;

}