@import "reset.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17.6px;
    line-height: 1.5;
    /*background: #333333;*/
}

#banner {
    background: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    color: #ffffff;
    text-align: center;
    height: 450px;
    padding-top: 100px;
    padding-bottom: 155px;
    background-size: cover;
    /*z-index: -1;*/
    /*opacity: 0.4;*/
}

#banner h1 {
    display: block;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 2em;
    color: white;
    /*z-index: unset;*/
    /*opacity: unset;*/
}

#banner p {
    margin: 1em 300px 2.5em;
    font-size: 18px;
}

#banner a {
    padding: 1em 2em;
    border: 1px solid #fff;
    text-transform: capitalize;
    color: inherit;
    background: #333;
    text-decoration: none;
}

#section-a {
    background: #eaeaea;
    color: #333;
}

#section-a h2 {
    font-size: 26.4px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    padding: 26.4px 0;
}

#section-a p {
    display: inline-block;
    width: 28%;
}

#column1 {
    margin: 0 2% 2.5em 19%;
}

#column2 {
    margin: 0 19% 2.5em 2%;
}

#section-b {
    padding: 2em 19% 2em;
    background: #333333;
}

#section-b article {
    width: 15em;
    display: inline-block;
    background: #fff;
    margin: 0 0.5em;
}

.imageContainer {
    overflow: hidden;
}

#section-b img {
    height: 10em;
    width: 15em;
    object-fit: cover;
}

#section-b h2 {
    text-transform: capitalize;
    font-size: 20.6px;
    font-weight: bold;
    text-align: center;
    padding: 2em 1.5em;
}

#section-b p {
    padding: 0 1.1em 3em;
    text-align: center;
}

#section-c {
    background: #fff;
    padding: 3em 0;
}

#section-c h2 {
    font-size: 26.4px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    padding: 0 1em;
}

#section-c p {
    text-align: center;
    padding: 0 1em;
    margin: 2em 20% 0 18%;
}

#section-d article {
    width: 50%;
    height: 310px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 5em 2em;
}

#section-d h2 {
    font-size: 26.4px;
    font-weight: bold;
    padding-bottom: 1.5em;
}

#footer span {
    display: inline-block;
    width: 50%;
    background: #000;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

#footer a {
    color: #2690d4;
    text-decoration: none;
}




